package lucide_templ

templ FlipVertical2(props ...Props) {
    {{ p := GetOrDefaults(props...) }}
    <svg
  xmlns="http://www.w3.org/2000/svg" width={ p.Size } height={ p.Size }
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor" stroke-width={ p.StrokeWidth }
  stroke-linecap="round"
  stroke-linejoin="round"
>
  <path d="m17 3-5 5-5-5h10" />
  <path d="m17 21-5-5-5 5h10" />
  <path d="M4 12H2" />
  <path d="M10 12H8" />
  <path d="M16 12h-2" />
  <path d="M22 12h-2" />
</svg>
}
