package lucide_templ

templ GalleryHorizontalEnd(props ...Props) {
    {{ p := GetOrDefaults(props...) }}
    <svg
  xmlns="http://www.w3.org/2000/svg" width={ p.Size } height={ p.Size }
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor" stroke-width={ p.StrokeWidth }
  stroke-linecap="round"
  stroke-linejoin="round"
>
  <path d="M2 7v10" />
  <path d="M6 5v14" />
  <rect width={ p.Size } height={ p.Size } x="10" y="3" rx="2" />
</svg>
}
