package lucide_templ

templ Mail(props ...Props) {
    {{ p := GetOrDefaults(props...) }}
    <svg
  xmlns="http://www.w3.org/2000/svg" width={ p.Size } height={ p.Size }
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor" stroke-width={ p.StrokeWidth }
  stroke-linecap="round"
  stroke-linejoin="round"
>
  <path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7" />
  <rect x="2" y="4" width={ p.Size } height={ p.Size } rx="2" />
</svg>
}
