package lucide_templ

templ Mouse(props ...Props) {
    {{ p := GetOrDefaults(props...) }}
    <svg
  xmlns="http://www.w3.org/2000/svg" width={ p.Size } height={ p.Size }
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor" stroke-width={ p.StrokeWidth }
  stroke-linecap="round"
  stroke-linejoin="round"
>
  <rect x="5" y="2" width={ p.Size } height={ p.Size } rx="7" />
  <path d="M12 6v4" />
</svg>
}
