package lucide_templ

templ Section(props ...Props) {
    {{ p := GetOrDefaults(props...) }}
    <svg
  xmlns="http://www.w3.org/2000/svg" width={ p.Size } height={ p.Size }
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor" stroke-width={ p.StrokeWidth }
  stroke-linecap="round"
  stroke-linejoin="round"
>
  <path d="M16 5a4 3 0 0 0-8 0c0 4 8 3 8 7a4 3 0 0 1-8 0" />
  <path d="M8 19a4 3 0 0 0 8 0c0-4-8-3-8-7a4 3 0 0 1 8 0" />
</svg>
}
