package lucide_templ

templ Thermometer(props ...Props) {
    {{ p := GetOrDefaults(props...) }}
    <svg
  xmlns="http://www.w3.org/2000/svg" width={ p.Size } height={ p.Size }
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor" stroke-width={ p.StrokeWidth }
  stroke-linecap="round"
  stroke-linejoin="round"
>
  <path d="M14 4v10.54a4 4 0 1 1-4 0V4a2 2 0 0 1 4 0Z" />
</svg>
}
